@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #282828;
  display: flex;
  padding: 16px;
  border-radius: 16px;
  margin: 20px 0;
  gap: 20px;
}

.caja {
  width: 200px;
  height: 200px;
  background-color: crimson;
  border-radius: 10px;
}

.traslateX {
  transform: translateX(100px);
}
