@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #282828;
  display: flex;
  padding: 16px;
  border-radius: 16px;
  margin: 20px 0;
  gap: 20px;
}

.caja {
  width: 200px;
  height: 200px;
  background-color: crimson;
  border-radius: 10px;
}

.traslateX {
  transform: translateX(100px);
}

@keyframes nombreAnimacion {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes translateX {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(500px);
  }
}

.translateX {
  animation-name: translateX;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes translateY {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(30px);
  }
}

.translateY {
  animation: translateY 2s infinite;
}

@keyframes translate {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(300px, 25px);
  }
}

.translate {
  animation: translate 5s 2;
}
